footer
  div
    table
      tr: th: a(href="https://plus.google.com/106411746266930646148") google+
      tr: th
      tr: th

    table
      tr: th: a(href="/") HOME
      tr: th: a(href="/services") SERVICES
      tr: th: a(href="/gallery") GALLERY

    table
      tr: th: a(href="/contact") CONTACT
      tr: td P.O Box 862 #[br] Neptune, NJ 07753
      tr: td: a(href="mailto:support@ehfences.com") support@ehfences.com
      tr: td: a(href="tel:7326377857") 732-637-7857

  //p E&H Fencing serves all of Monmouth County NJ, including: Red Bank NJ, Rumson NJ, Atlantic Highlands, Deal NJ, Ocean Township, Oakhurst NJ, Middletown NJ, Holmdel NJ, Asbury Park, Bradley Beach, Avon NJ, Allenhurst, Wayside NJ, Fair Haven NJ, Lincroft NJ, Matawan NJ, Freehold NJ, Colts Neck, Tinton Falls, Shrewsbury NJ,Ocean Grove NJ,Manalapan NJ
  p E&H Fencing serves all of Monmouth County NJ, including: ADELPHIA, NJ, ALLENHURST,
    |NJ, ALLENWOOD, NJ, ASBURY PARK, NJ, AVON BY THE SEA, NJ, BRADLEY
    |BEACH, NJ, BRICK, NJ, BRIELLE, NJ, COLTS NECK, NJ, DEAL, NJ,
    |EATONTOWN, NJ, ENGLISHTOWN, NJ, FAIR HAVEN, NJ, FARMINGDALE, NJ,
    |FORT MONMOUTH, NJ, FREEHOLD, NJ, HOLMDEL, NJ, HOWELL, NJ,
    |ISLAND HEIGHTS, NJ, JACKSON, NJ, LAKEWOOD, NJ, LAVALLETTE, NJ,
    |LINCROFT, NJ, LITTLE SILVER, NJ, LONG BRANCH, NJ, MANASQUAN, NJ,
    |MANCHESTER TOWNSHIP, NJ, MANTOLOKING, NJ, MARLBORO, NJ,
    |MIDDLETOWN, NJ, MONMOUTH BEACH, NJ, MORGANVILLE, NJ, NEPTUNE,
    |NJ, NORMANDY BEACH, NJ, OAKHURST, NJ, OCEAN GROVE, NJ,
    |OCEANPORT, NJ, OLD BRIDGE, NJ, PINE BEACH, NJ, POINT PLEASANT
    |BEACH, NJ, RED BANK, NJ, RUMSON, NJ, SEA GIRT, NJ, SEASIDE HEIGHTS,
    |NJ, SHREWSBURY, NJ, SPRING LAKE, NJ, TENNENT, NJ, TOMS RIVER,
    |NJ, WEST LONG BRANCH, NJ, WICKATUNK, NJ
  br
  p &copy;2014 #{title}. All Rights Reserved