header
  .address
    p#address E&H Fence, LLC #[br] P.O. Box 862 Netpune, NJ 07753

  #topNav
      ul
        //li: a#mobilemenu(href="#", rel="#")
        //  img(src="images/menuicon.png")
        li: a(href="/home", rel="home") HOME
        li: a(href="/services", rel="services") SERVICES
        li: a(href="/gallery", rel="gallery") GALLERY
        li: a(href="/contact", rel="contact") CONTACT US
  .phone
    p
      a#phone(href="tel:7326377857") 732-637-7857
      br
      a#googlePlus(href="https://plus.google.com/106411746266930646148", rel="publisher") Google+
#logo
  div
    h1 E&H FENCE
    p LLC - HIC LIC#13VH08128300
  small Fully Insured and Licensed Fence Contractors

