extends layout

block content

  +servicesLinks

  h1 E & H Fence offers the finest quality Commercial Fencing installation in the Monmouth county area at competitive prices.

  div.services
    img(src="/images/commercial-img.jpg")
    img(src="/images/commercial-img-2.jpg")

  p: strong We serve schools, municipalities, industrial complexes,
    | utilities, restaurants, office buildings and any other commercial clients seeking the best fencing at the best prices.

  img(src="/images/commercial-fencing.jpg")

  +license

