extends layout

block content
  h1 CONTACT E&H FENCE, LLC
  p For free estimates or questions, feel free to contact us using one of the options below.

  table.contact-table
    tr: th Phone
    tr: td: a(href="tel:7326377857") 732-637-7857
    tr: th E-mail
    tr: td: a(href="mailto:support@ehfences.com") support@ehfences.com
    tr: th Mailing Address
    tr: td P.O. Box 862 Neptune, NJ 07753
