extends layout

block content
  h1 E&H Fence, LLC
  h1 CALL #[a(href="tel:7326377857") 732-637-7857] FOR A FREE ESTIMATE
  p#intro We're there for you every step of the way, from our FREE no-obligation in-home consultation to installation and final review. We'll determine your fencing needs, review style options and measure your yard. Then, we'll order our materials, set up an install date and get started. When the project's done, we'll haul off any debris, conduct a final inspection and review all product and service warranties with you. Our installers are certified craftsmen that work very hard to please our customers. They are committed to giving you a professional and thorough job from step one, all the way to completion.

  h2 We carry a variety of fences and will always have a fencing solution to fit your needs.
  br
  div#slider-container
    a(href="/services")
      div
        p WOOD FENCES
  br
  div
    h1 Serving Al Types Of Homes
    br
    h4 E & H Fence provides guaranteed, quality fencing
      | installation to all of Monmounth County.
    p including: Red Bank NJ, Rumson NJ, Atlantic Highlands, Deal NJ, Ocean Township, Oakhurst NJ, Middletown NJ, Holmdel NJ, Asbury Park, Bradley Beach, Avon NJ, Allenhurst, Wayside NJ, Fair Haven NJ, Lincroft NJ, Matawan NJ, Freehold NJ, Colts Neck, Tinton Falls, Shrewsbury NJ,Ocean Grove NJ,Manalapan NJ

  div.banner-wrapper.residential
    a(href="/services/residential")
      div.service-banner
        h1 RESIDENTIAL SERVICES
  div.banner-wrapper.commercial
    a(href="/services/commercial")
      div.service-banner
        h1 COMMERCIAL SERVICES

  .EasternFenceWebLinksContainer

    p.fence-web-links
      a(href="http://www.illusionsfence.com/", target="_blank") Illusions Vinyl Fence &bull;
      a(href="http://www.illusionsfence.com/", target="_blank")  Grand Illusions Color pectrum Color Vinyl Fence Products &bull;
      a(href="http://www.illusionsfence.com/", target="_blank")  Grand Illusions Vinyl WoodBond Woodgrain Vinyl Fence Products &bull;
      a(href="http://www.illusionsvinylrailing.com/", target="_blank")  Illusions Vinyl Railing System &bull;
      a(href="http://www.easternornamentalfence.com/", target="_blank")  Eastern Ornamental Aluminum Fence Products &bull;
      a(href="http://www.easternwoodfence.com/", target="_blank")  Eastern White Cedar Brand Wood Fence Products &bull;
      a(href="http://www.easternfence.com/documents/system21.pdf", target="_blank")  System21 Chain Link Fence Products

    p: strong Please Check Out the Product Websites for Photos, Brochures, Tech Specs, and General Product Information

    p
      a(title="Illusions Vinyl Fence", target="_blank", href="http://www.illusionsfence.com/")
        img(src="http://cms.easternfence.com/Portals/0/Weblinks/images/800px/illusions-vinyl-fence.png", alt="Illusions Vinyl Fence", vspace="10", align="middle", style="margin-right: 15px; border-width: 0px; border-style: solid;")

      a(title="Illusions Vinyl Railing System", target="_blank", href="http://www.illusionsvinylrailing.com/")
        img(src="http://cms.easternfence.com/Portals/0/Weblinks/images/800px/illusions-vinyl-railing-system.png", alt="Illusions Vinyl Railing System", vspace="10", align="middle", style="border-width: 0px; border-style: solid;")

      a(title="Eastern Wood Fence", target="_blank", href="http://www.easternwoodfence.com/")
        img(src="http://cms.easternfence.com/Portals/0/Weblinks/images/800px/eastern-wood-fence.png", alt="Eastern Wood Fence", vspace="10", align="middle", style="border-width: 0px; border-style: solid;")

      a(title="Eastern Ornamental Aluminum", target="_blank", href="http://www.easternornamentalfence.com/")
        img(src="http://cms.easternfence.com/Portals/0/Weblinks/images/800px/eastern-ornamental-aluminum-fence.png", alt="Eastern Ornamental Aluminum," vspace="10", align="middle", style="margin-right: 15px; border-width: 0px; border-style: solid;")

      a(title="System21 Color Chain Link Fence", target="_blank", href="http://www.easternfence.com/documents/system21.pdf")
        img(src="http://cms.easternfence.com/Portals/0/Weblinks/images/800px/system21-color-chain-link-fence.png", alt="System21 Color Chain Link Fence", vspace="10", align="middle", style="border-width: 0px; border-style: solid;")

