extends layout

block content

  +servicesLinks

  h1 We serve all types of residential homes

  h2 Call #[a(href="tel:7326377857") 732-637-7857] for a free estimate!

  br

  p: strong No job is too small or too big. #[br]
    | Besides carrying a variety of fences, we also provide all services dealing with fences.

  div.services
    p: strong Pool Fencing
    img(src="/images/pool-fencing-1.jpg")
    img(src="/images/pool-fencing-2.jpg")

    p: strong Small Enclosures / Kennels.
    img(src="/images/small-enclosures.jpg")
    img(src="/images/kennel-img.jpg")

    p: strong Latch and Hinge replacement.
    img(src="/images/latch.jpg")
    img(src="/images/hinge.jpg")

  +license
