
div.imagewrapper{
    width: 700px;
    margin: 5px auto;
    height: 160px;
    text-align: left;
}

.image-gallery-container{
    width: 100%;
}


section img#smallImg{
    width:auto;
    height:150px;
    margin:10px 16px;
    transition: transform .3s;
}

section img#smallImg:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 0 5px 0px black ;
}

section a {
    color: #119016;
}

h3{
    text-align:left;
    width:700px;
    margin:30px auto 0 auto;
    border-bottom:1px solid gray
}

.full-image-gallery h3{
    width: 95%;
    margin-bottom: 5px;
}

.full-gallery-wrapper{
    width: 99%;
    height: auto;
    margin: 0 auto;
}

.full-gallery-wrapper img#smallImg{
    width:auto;
    height:120px;
    margin:2px 5px;
}


