
h1 a {color:#119016}

section h1 {font-size:35px;}

section p {
    text-align: center;
    margin:25px auto;
    width:50%;
    padding-bottom:20px;
}


#slider-container{
    width: 80%;
    margin: 0 auto;
    height: 400px;
    overflow: hidden;
    background-image: url("../images/slide1.jpg");
    opacity: 1;
    background-size: cover;
}

#slider-container div{
    display: table;
    width: 100%;
    height: 100%;
}

#slider-container p{
    display: table-cell;
    vertical-align: middle;
    font-size: 100px;
    color: #ffffff;
    letter-spacing: 2px;
    font-family: bebas-neue;
    background-color: rgba(0, 0, 0, 0.21);
}

.banner-wrapper{
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 0 30px;
}

.banner-wrapper h1{
    font-family: bebas-neue;
    letter-spacing: 3px;
    font-size: 70px;
    color: white;
}

.service-banner{
    display: table-cell;
    cursor: pointer;
    width: 400px;
    height: 300px;
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0.42);
    transition: opacity .3s linear;
}

.service-banner:hover{
    opacity: 0;
}

.residential{
    background-image: url('../images/residential-img.jpg');
}

.commercial{
    background-image: url('../images/commercial-img.jpg');
}


@media screen and (max-width: 1200px)
{
    section p {
        width: 80%;
        text-align: justify;
    }

    #slider-container{
    width: 100%;
    }

    #slider-container p{
        text-align: center;
    }
}

@media screen and (max-width: 667px)
{


section p {
    width:95%;
}

    #slides img{
        width: 100%;
        height: auto;
    }
}