.container
  #slides
    img(src="/images/38.jpg", alt="EH Fence Images")
    img(src="/images/42.jpg", alt="EH Fence Images")
    img(src="/images/60.jpg", alt="EH Fence Images")
    img(src="/images/62.jpg", alt="EH Fence Images")

h3: a(href="/gallery/pvc") PVC/Vinyl Fences
.imagewrapper
  .image-gallery-container
    script.
      getSmallGallery('pvc');
a(href="/gallery/pvc") view more

h3: a(href="/gallery/wood") Wood Fences
.imagewrapper
  .image-gallery-container
    script.
      getSmallGallery('wood');
a(href="/gallery/wood") view more

h3: a(href="/gallery/aluminum") Aluminum/Steel Fences
.imagewrapper
  .image-gallery-container
    script.
      getSmallGallery('aluminum');
a(href="/gallery/aluminum") view more

h3: a(href="/gallery/chainlink") Chainlink Fences
.imagewrapper
  .image-gallery-container
    script.
      getSmallGallery('chainlink');
a(href="/gallery/chainlink") view more

h3: a(href="/gallery/others") Others
.imagewrapper
  .image-gallery-container
    script.
      getSmallGallery('others');
a(href="/gallery/others") view more