.container
  #slides
    img(src="/images/38.jpg", alt="EH Fence Images")
    img(src="/images/42.jpg", alt="EH Fence Images")
    img(src="/images/60.jpg", alt="EH Fence Images")
    img(src="/images/62.jpg", alt="EH Fence Images")

h3: a(href="/gallery/pvc") PVC/Vinyl Fences
.imagewrapper
  #pvcimages
    script.
      getImages('pvc', 70);
h3: a(href="/gallery/wood") Wood Fences
.imagewrapper
  #woodimages
    script.
      getImages('wood', 17);
h3: a(href="/gallery/aluminum") Aluminum/Steel Fences
.imagewrapper
  #aluminumimages
    script.
      getImages('aluminum', 12);
h3: a(href="/gallery/chainlink") Chainlink Fences
.imagewrapper
  #chainlinkimages
    script.
      getImages('chainlink', 17);
h3: a(href="/gallery/others") Others
.imagewrapper
  #otherimages
    script.
      getImages('others', 14);